{% extends "base_generic.html" %}

{% block content %}
    {% block topbar %}
        {{ block.super }}
    {% endblock %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Book List</h1>

    </div>
  {% if book_list %}
        <div class="row">
            {% for book in book_list %}
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
    </div>
{% endblock %}
